body {
  margin: 0;
  max-width:100vw
}
ul,
h2 {
  margin: 0px;
  padding: 0px;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1px;
  padding: 0 8px;
}
.add-container {
  border: 1px solid #5ed3f3;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.list-container {
  border: 1px solid #5ed3f3;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.postList {
  border: 1px solid #5ed3f3;
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.postList button {
  height: 40px;
  background-color: #5ed3f3;
  border: none;
  width: 80px;
  border-radius: 10px;
}
.postList li {
  min-width: 80px;
  text-align: center;
}
.searchAndSelect {
  display: flex;
  justify-content: space-between;
}
.remBtn {
  height: 40px;
  background-color: #5ed3f3;
  border: none;
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.addBtn {
  margin-top: 30px;
  border: 1px solid #5ed3f3;
  background: #5ed3f3;
  cursor: pointer;
  width: 100vw;
  height: 50px;
}
.post-enter {
  transform: translateY(-100px);
}
.post-enter-active {
  /* opacity: 0; */
  transform: translateY(0px);
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  transform: translateY(-100px);
  transition: all 500ms ease-in;
}
.page__wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.page {
  padding: 10px;
  border: 1px solid teal;
  cursor: pointer;
  background: transparent;
}
.page_current {
  border: 2px solid teal;
  font-weight: bold;
}
.aLink {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.comment__wrapper {
  border: 2px solid teal;
  border-radius: 15px;
  width: fit-content;
  padding: 10px;
  margin-top: 10px;
  margin-left: 15px;
}
.comment__note {
  background-color: transparent;
  transition: 300ms;
}
.comment__note:hover {
  background-color: rgba(0, 128, 128, 0.116);
  transition: 300ms;
}
.errorLogin{
  animation: palitra 1s ease-in-out infinite;
}
@keyframes palitra {
  0%{
  color:red;
  }
  50%{
  color:black;
  }
  100%{
  color:red;
  }
}